@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}

div.hover12:hover input {
    display: block;
}

#title {
  background-image: url("/skylineMIA.jpg");
  padding-top: 15px;
  margin-top: -20px;
  margin-bottom: -40px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
